-r requirements.txt
pip==9.0.1
bumpversion==0.5.3
wheel==0.30.0
watchdog==0.8.3
flake8==3.4.1
coverage==4.4.2
codecov==2.0.9
Sphinx==1.6.5
pytest==3.2.5
mongomock==3.9.0
-e git+https://github.com/duncan-r/SHIP.git@tuflow_refactor#egg=ship

